.header {
  background: #9cabbe;

  &__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }

  &__logo:hover {
    transition: transform 0.5s ease;
    transform: scale(1.2);
  }

  &__nav-list {}

  &__menu-burger {
    display: none;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__nav-list {
      display: none;
    }

    &__menu-burger {
      display: block;
    }
  }
}
