.header {
  margin: 0 auto;
  &__container {

    background-color: pink;
    display: flex;
    height: 180px;
  }

}

li {
  margin-right: 20px;
}

li:first-child {
  margin-left: 20px;
}
li:last-child{
  margin-right: 0px;
}
