* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  line-height: 137%;
}

.layout {
  margin: 0 auto;
  padding: 0;


  &__outlet {
    margin: 0 auto;
    padding: 50px 0px;
    background: linear-gradient(#9cabbe, #F0EADA);
    // background-color: #F0EADA;
    background: url('../images/flower_beige.jpg') 0 bottom no-repeat, url('../images/flower_beige_right_s.png') right 10px no-repeat #F0EADA;

    @media screen and (max-width: 992px) {
      padding: 40px 0px;
    }
  }
}
