.card-cake {
  text-align: center;
  border: 4px solid #9cabbe;
  border-radius: 17px;
  max-width: 450px;
  background-color: #F0EADA;
  padding: 10px;
  margin-bottom: 20px;

  &__title {
    min-height: 110px;
    font-family: 'Dancing Script';
    font-size: 25px;
    font-weight: 700;
    color: #4c433b;
    padding: 20px;
  }

  &__image {}

  &__subtitle {
    padding: 10px;
    min-width: 20px;
    margin: 0 auto;
    min-height: 100px;
  }

  // &__realization {
  //   min-height: 130px;
  // }

  &__weight {}

}
