.card-cake {
  text-align: center;
  margin: 20px;
  border: 3px solid rgb(241, 149, 204);


  &__image-container {
    margin: 0 auto;
    border-radius: 5px;
    width: 338px;
    height: 300px;
    background-color: #F4EEFD;
    text-align: center;
    padding-top: 50px;
  }

  &__subtitle {
    padding: 10px;
  }

  &__weight {}

  &__price {}
}
