.card-cake {
  text-align: center;
  margin: 10px auto;

  max-width: 500px;
  background-color: #F0EADA;
  border-radius: 5px;
  padding: 30px;


  &__image img {
   width: 350px;
   height: 400px;
  }

  &__subtitle {
    padding: 10px;
  }

  &__weight {}

  &__price {}
}
