.main {
  // background:  #dce5f1;
  // background: linear-gradient(#9cabbe, rgb(242, 216, 220));
  // background: linear-gradient(#9cabbe, #dce5f1);
  background: linear-gradient(#a9c0df, #dce5f1);
  border-bottom: #9cabbe 1px solid;

  &__container {}

  &__data {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 15px 15px;
  }

  &__name {
    font-family: 'Dancing Script';
    font-size: 80px;
    font-weight: bolder;
    color: #4c433b;
    padding-bottom: 45px;
  }

  &__title {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 40px;
    line-height: 135%;
    font-weight: bolder;
    color: #827C76;
  }

  &__slogan {
    margin-top: 60px;
    line-height: 135%;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: 800;
    // color: #ACC6E6;
    color: #912ba5;
    font-style: italic;
    text-align: center;
    text-shadow: 2px -3px 4px rgb(54, 54, 54);
  }

  &__photo {
    border: 14px solid #BAA99B;
    border-radius: 55px;
    margin-right: 50px;
  }

  &__photo img {
    border-radius: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    &__container {
      background: none
    }

    &__description {
      max-width: 600px;
    }

    &__name {
      font-size: 55px;
      padding-bottom: 25px;
    }

    &__title {
      font-size: 40px;
      font-weight: 700;
    }

    &__slogan {
      margin-top: 40px;
      font-size: 35px;
      font-weight: 800;
      text-shadow: 1px -2px 2px rgb(54, 54, 54);
      padding: 0 5px;
    }

    &__photo {
      border-radius: 55px;
    }

    &__photo img {
      max-width: 450px;
      max-height: 450px;
    }
  }
}

@media screen and (max-width: 992px) {
  .main {
    &__data {
      margin: 0 auto;
    }

    &__description {
      max-width: 400px;
    }

    &__name {
      font-size: 40px;
      padding-bottom: 15px;
    }

    &__title {
      font-size: 25px;
      font-weight: 700;
    }

    &__slogan {
      font-size: 25px;
      font-weight: 600;
      padding: 0 20px;
    }

    &__photo {
      border: none;
      margin-right: 0;
    }

    &__photo img {
      border: 12px solid #BAA99B;
      border-radius: 55px;
      max-width: 360px;
      max-height: 360px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: -10px;

    &__data {
      flex-wrap: wrap;
    }

    &__description {
      max-width: none;
    }

    &__name {
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 15px;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;
    }

    &__slogan {
      margin-top: 30px;
      font-size: 20px;
      font-weight: 500;
    }

    &__photo {
      border: none;
      margin-right: 0px;
    }

    &__photo img {
      border: 6px solid #BAA99B;
      border-radius: 40px;
      max-width: 200px;
      max-height: 200px;
    }
  }
}
