.footer {
  color: black;
  background-color: rgb(201, 203, 203);
  padding: 10px;

  &__contacts {
    display: flex;
  }

  &__phone-icons {
    margin-right: 30px;
  }

  &__contact-slogan {}

  &__phone {}

  &__adress {}

  &__icons {
    margin-top: 10px;
    display: flex;
    gap: 6px;
  }
}

