.footer {
  margin: 0 auto;
  &__section {}


  // background-color: rgb(150, 150, 150);
  padding: 10px;
  background: url('../images/wave.jpg') 1100px 0px no-repeat #827C76;

  &__container {
    color: black;
    margin: 0 auto;
    max-width: 1500px;
    height: 200px;
    // background: url('../images/wave_blue.jpg') no-repeat rgb(150, 150, 150);
  }
  &__contacts {
    display: flex;
  }

  &__phone-icons {
    margin-right: 30px;
  }

  &__contact-slogan {}

  &__phone {}

  &__adress {}

  &__icons {
    margin-top: 10px;
    display: flex;
    gap: 6px;
  }
}

