.card {
  width: 340px;
  display: flex;


  &__image-container {
    border-radius: 5px;
    width: 338px;
    height: 300px;
    background-color: #F4EEFD;
    text-align: center;
    padding-top: 50px;

  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 20px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    height: 130px;
  }
  &__weight {
    font-weight: 700;
    font-size: 16px;
  }

  &__estimate {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
padding-bottom: 20px;
  }
}

.img {
  margin: 0 auto;
}
