.nav {
  background-color: #F0EADA;
  border: 3px solid #BAA99B;
  border-radius: 10px;

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 3px -4px 5px rgb(54, 54, 54);

  &__display-block {
    display: block;
  }

  &__display-none {
    display: none;
  }
}
